<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="li.lingfeng.ltweaks">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.PROVIDE_TRUST_AGENT" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
		<meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/app_summary" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />
			
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ListCheckActivity" />

        <activity
            android:name=".activities.BilibiliActivity"
            android:excludeFromRecents="true"
            android:label="Bilibili"
            android:taskAffinity="li.lingfeng.ltweaks.activities.BilibiliActivity"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="m.bilibili.com" android:pathPattern="/video/av.*\\.html" android:scheme="http"/>
                <data android:host="m.bilibili.com" android:pathPattern="/video/av.*\\.html" android:scheme="https"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.JDActivity" android:excludeFromRecents="true"
            android:label="@string/jd_app"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar.MinWidth"
            android:taskAffinity="li.lingfeng.ltweaks.activities.JDActivity"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="item.jd.com" android:pathPattern="/.*\\.html" android:scheme="http"/>
                <data android:host="item.jd.com" android:pathPattern="/.*\\.html" android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="re.jd.com" android:pathPattern="/cps/item/.*\\.html" android:scheme="http"/>
                <data android:host="re.jd.com" android:pathPattern="/cps/item/.*\\.html" android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="item.m.jd.com" android:pathPattern="/product/.*\\.html" android:scheme="http"/>
                <data android:host="item.m.jd.com" android:pathPattern="/product/.*\\.html" android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="m.jd.com" android:pathPattern="/product/.*\\.html" android:scheme="http"/>
                <data android:host="m.jd.com" android:pathPattern="/product/.*\\.html" android:scheme="https"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.JDHistoryActivity" android:excludeFromRecents="true"
            android:label="@string/jd_history"
            android:icon="@mipmap/ic_price_history"
            android:screenOrientation="portrait"
            android:theme="@style/DialogActivityTheme"
            android:taskAffinity="li.lingfeng.ltweaks.activities.JDHistoryActivity"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.QrCodeActivity" android:excludeFromRecents="true"
            android:label="@string/share_qrcode_scan"
            android:icon="@mipmap/ic_qrcode_scan"
            android:theme="@style/DialogActivityTheme"
            android:taskAffinity="li.lingfeng.ltweaks.activities.QrCodeActivity"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ImageSearchActivity" android:excludeFromRecents="true"
            android:label="@string/share_image_search"
            android:icon="@mipmap/ic_image_search"
            android:theme="@style/DialogActivityTheme"
            android:taskAffinity="li.lingfeng.ltweaks.activities.ImageSearchActivity"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".activities.GoogleImageSearchActivity"
            android:label="@string/share_image_google_search"
            android:targetActivity=".activities.ImageSearchActivity">
            <intent-filter>
                <action android:name="li.lingfeng.ltweaks.ACTION_IMAGE_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".activities.TinEyeImageSearchActivity"
            android:label="@string/share_image_tineye_search"
            android:targetActivity=".activities.ImageSearchActivity">
            <intent-filter>
                <action android:name="li.lingfeng.ltweaks.ACTION_IMAGE_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".activities.IQDBImageSearchActivity"
            android:label="@string/share_image_iqdb_search"
            android:targetActivity=".activities.ImageSearchActivity">
            <intent-filter>
                <action android:name="li.lingfeng.ltweaks.ACTION_IMAGE_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".activities.ProcessTextActivity"
            android:taskAffinity="li.lingfeng.ltweaks.activities.ProcessTextActivity">
        </activity>
        <activity-alias
            android:name=".activities.DoubanMovieProcessTextActivity"
            android:targetActivity=".activities.ProcessTextActivity"
            android:label="@string/process_text_douban_movie"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".activities.BilibiliProcessTextActivity"
            android:targetActivity=".activities.ProcessTextActivity"
            android:label="@string/process_text_bilibili"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".activities.TrustAgentWifiSettings"
            android:label="@string/pref_trust_agent_wifi"
            android:exported="true"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:taskAffinity="li.lingfeng.ltweaks.activities.TrustAgentWifiSettings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <service
            android:name=".services.WifiTrustAgent"
            android:label="@string/pref_trust_agent_wifi"
            android:permission="android.permission.BIND_TRUST_AGENT"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.trust.TrustAgentService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.service.trust.trustagent"
                android:resource="@xml/trust_agent_wifi"/>
        </service>

        <activity android:name=".activities.SolidExplorerUrlReplacerSettings" />
    </application>

</manifest>